{% extends "encyclopedia/layout.html" %}

{% block title %}
    Confirm Deletion
{% endblock %}

{% block body %}
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete "{{ title }}"?</p>
    <form action="{% url 'confirm_delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="entry_title" value="{{ title }}">
        <input type="submit" value="Confirm Delete" class="btn btn-primary">
        <a href="javascript:history.go(-1);" class="btn btn-primary">Cancel</a>
    </form>
{% endblock %}